@CHARSET "ISO-8859-1";
/*
	Surcharge le css de Bootstrap
*/

/*********************
 	Header
*********************/
/* Changement de la couleur de fond */
.navbar-inverse {
	 background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 100%);
}

/* On enlève la bordure du bas */
.navbar-fixed-top, .navbar-fixed-bottom {
    border-width: 0;
}

/* Changement de la couleur de la navigation */
.navbar-inverse .navbar-nav > li > a {
	color:#22427c;
}

/* Changement de couleur pour le hover de la navigation */
.navbar-inverse .navbar-nav > li > a:hover {
	color:#22427c;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow:none;
}

/* Changement de coloration pour un onglet actif */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color:white;
	font-weight:bold;
	color:#22427c;
}

.navbar-collapse.collapse {
	margin:90px 0 0 0;
}