/Symfony/nbproject/private/
/Symfony/nbproject/

/Symfony/app/bootstrap.php.cache
/Symfony/app/cache/*
/Symfony/app/config/parameters.yml
/Symfony/app/logs/*
!Symfony/app/cache/.gitkeep
/Symfony/vendor/
/Symfony/bin/
/Symfony/composer.phar
/Symfony/app/cache/dev/*
/Symfony/app/cache/dev/sessions/*
/Symfony/composer.lock

/Symfony/web/media/cache/image_parution_thumnail/uploads/img_parution/
!Symfony/web/media/cache/image_parution_thumnail/uploads/img_parution/.gitkeep

