{% extends "FOSUserBundle::layout.html.twig" %}


{% block content %}
<div class="well formulaire">
<form action="{{ path('zeus_user_utilisateur_ajout') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
        <input type="submit" name="ajouter" class="btn btn-primary" value="Ajouter"/>
</form>
    </div>
{% endblock content %}
