Bonjour {{ user.nom }} {{ user.prenom }},<br><br>

Vous venez d'être inscript à la bibliothèque Zeus. <br>
Voici les informations nécessaire à votre connexion :<br><br>
Login : {{ user.username }}<br>
Mot de passe : {{ mdp }}<br><br>

Pour vous connecter à l'application cliqué <a href="http://projet-zeus.fr">ici</a>
