.block-find{
	width: 600px;
	height: 500px;
	padding: 25px 20px;
	margin: 0;
	float: left;
}

/*.resume{
	height: 220px;
	overflow: hidden;
	text-overflow:ellipsis;
}*/

.img_resume{
	float: right;
}

a :hover{
	pointer: cursor;	
}

.container{
	font-size: 12px;	
}

table tr td, table tr th{
	padding: 5px;	
	border: 1px solid rgb(34, 66, 124);
}

table tr th{
	text-align: center;
}