@CHARSET "ISO-8859-1";
/*
	Surcharge le css de Bootstrap
*/

/*********************
 	Général
*********************/
h1{
	font-size:17px !important;
	font-weight:bold;
	text-transform:uppercase;
        margin-bottom:10px;
}

h2{
	font-size:14px !important;
}

h3{
	font-size:12px !important;
}

p{
	font-size:12px !important;
}

.divContainer{
	background-color: #e5e5e5;
}

label{
	font-size:12px;
}

li, a{
	text-decoration:none;
}

.alert{
    padding: 6px 15px !important;
}

/*********************
 	Header
*********************/

.deconnexion{
    background-color: #E67E30;/*22427c#ED7F10*/
    color: #ffffff;
    width: 150px;
    padding: 5px 10px;
    border-radius: 0 0 3px 0px;
    float: right;
    text-align: center;
    top: 0;
}

.profil{
    background-color: #22427c;
    color: #ffffff;
    width: 150px;
    padding: 5px 10px;
    border-radius: 0 0 0px 3px;
    float: right;
    text-align: center;
    top: 0;
}

.deconnexion:hover, .profil:hover{
    color: #ffffff;
}

/* Navigation */
.nav{
        margin-top: 65px;
        font-size: 14px;
        float: right;
}

/* Changement de la couleur de fond */
.navbar-inverse {
	 background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 100%);
}

/* On enl�ve la bordure du bas */
.navbar-fixed-top, .navbar-fixed-bottom {
    border-width: 0;
}

.navbar {
    box-shadow: none;
}

/* Changement de la couleur de la navigation */
.navbar-inverse .navbar-nav > li > a {
	color: #000; /* 22427c */
}

/* Changement de couleur pour le hover de la navigation */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color:#22427c;
        color: #ffffff;
        border-radius: 3px 3px 0 0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color:#22427c;
        color: #ffffff;
        border-radius: 3px 3px 0 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow:none;
}

/* Changement de coloration pour un onglet actif */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color:white;
	font-weight:bold;
	color:#22427c;
}

.navbar-collapse.collapse {
}

.separation{
	height:20px;
	background-color:#22427c;
	margin:-20px 0 0 0;
}

/************************
  Jumbotron / Container
************************/
/* Page d'accueil' */
/* Slide */
.ca-item-main{
    background-color: #e5e5e5 !important;
}

.ca-more{
    border-radius: 3px !important;
}

.thumb-ca-container{
    background-color: #e5e5e5 !important;
}
.thumb-ca-container h3{
    font-size: 13px !important;
}

/* Changement de couleur pour le background */
.jumbotron {
    background-color:white;
}

/* Page d'accueil' */
.thumb-ca-container{
    background-color: #ffffff !important;
}

.ca-item-main {
    background-color: #ffffff !important;
}

li{
    list-style: none !important;
}

.ca-content h5 span {
    text-decoration: none !important;
    font-weight: bold;
}

.carousel-control{
    background-color: #ffffff !important;
    background-image: none !important;
}

.carousel-inner{
    margin-top: 40px !important;
}

.ca-content ul li a{
    padding: 5px 10px !important;
    border-radius: 3px;
}

#recherche{
    display:inline-block;
    vertical-align: top;
}

.item{
    width: 300px;
    margin-left: 100px !important;
}

#parution-slider{
    width: 500px !important;
    display: inline-block;
    vertical-align: top;
}

.left, .right{
    height: 10px !important
}

/* page de connexion */
#connexion{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#connexion form{
    margin-left: 20px;
}

.btn-primary{
    background-color: #22427c !important;
}

.btn-primary:hover{
    background-color: grey !important;
}

.centrer{
    text-align:center;
}

.h1Parution{
    margin-left: 50px;
}

/* Mise en forme pour tous les formulaires */


label{
    margin-bottom: 0px;
}

#remember_me {
    width: 10px;
    margin-right: 5px;
}

input{
    border: #000 solid 1px;
    border-shadow: none;
}

.formulaire select{
    max-width: 250px !important;
     display: inline-block !important;
}

.formulaire textarea{
     max-width: 250px !important;
     display: inline-block !important;
}

.formulaire{
    width: 500px;
    margin-left: 50px;
}

.formulaire form{
    margin-left: 20px;
}

.formulaire label{
    width: 120px !important;
    margin-right: 10px !important;
    margin-bottom: 20px;
}

.formulaire input{
    max-width: 250px !important;
    border-shadow: none !important;
    border: 1px solid gray !important;
    border-radius: 3px;
    display: inline-block !important;
    height: 30px !important;
}

.formulaire .select2-container{
    max-width: 250px !important;
    display: inline-block !important;
}

.select2-search-field{
    width: 100% !important;
}

.select2-input{

    width: 100% !important;
}


.formulaire textarea{
    max-width: 250px;
    height: 150px;
    margin-bottom: 10px !important;
    border-shadow: none !important;
    border: 1px solid gray !important;
    border-radius: 3px;
}

.formulaire button{
    margin-left: 115px;
}

.formulaire ul{
    display: inline-block;
    margin-left: 15px; 
    min-width: 250px;
    max-width: 500px;
}

.formulaire li{
    display: inline;
}

.formulaire label{
    margin-bottom: 0;
}

#zeus_sitebundle_parution_imageParution div{
    margin-left: 112px;
    display: inline-block;
}

#zeus_sitebundle_parution_imageParution div label{
    display: none;
}

#zeus_sitebundle_parution_imageParution div input{
    margin-top: -45px;
    border-radius: 3px;
}

/* Mise en forme pour tous des tableaux */
@media (width: 100%) {
	
    .responsive-table-line td:before { content: attr(data-title); }

    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }
    
    .responsive-table-line thead tr {
	display:none;
	}

    .container th{
        white-space: nowrap;
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }

    td{
        text-align: justify;
        font-size: 13px;
        padding: 10px 20px !important;
    }

    td a{
        padding-left: 5px;
    }

    .nowrap{
       white-space: nowrap; 
    }

    thead tr{
        background-color: #22427c !important; 
    }

    thead tr th, thead tr a{
        color: #ffffff !important;
        padding: 5px 5px;
    }

    table tr:nth-child(odd){
        background-color: #ededed;
        border: none;
    }

    table tr td, table tr th{
        border: none !important;
    }

}

.container th{
    white-space: nowrap;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

/*th{
    width: 150px;
}*/

td{
    text-align: justify;
    font-size: 13px;
    padding: 10px 20px !important;
}

td a{
    padding-left: 5px;
}

.nowrap{
   white-space: nowrap; 
}

thead tr{
    background-color: #22427c !important;
   /* width: 250px;*/
}

thead tr th, thead tr a{
    color: #ffffff !important;
    padding: 5px 5px;
}

table tr:nth-child(odd){
    background-color: #ededed;
    border: none;
}

table tr td, table tr th{
    border: none !important;
}

/* Visualisation des parutions */
.visualisation{
    margin-top: 20px;
    background-color: #F5F5F5;
    padding: 30px 10px;
    border-radius: 3px 3px;
}

.visualisation img{
    display: inline-block;
    vertical-align: top;
    width-max: 200px;
    margin-left: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px;
    padding: 2px;
}

.visualisation p{
    display: inline-block;
    vertical-align: top;
    width: 500px !important;
    padding-left: 20px;
}

.label_fiche{
    font-size: 14px;
    font-weight: bold;
}

/************************
          Footer
************************/
footer{
	color:white;
	background-color:#22427c;
	width:100%;
	padding: 10px 10px;
        position: absolute;
        bottom: 0;
}

footer p{
	text-align:center;
}

footer a{
	color:white;
}
