{% extends "::base.html.twig" %}

{% block content %}

    {% include 'ZeusSiteBundle:Include:lien_retour_gestion.html.twig'
                    with {'route': 'zeus_site_service_tableau', 'element' : 'services'} only %}
     
    <h1 class="h1Parution">Fiche de l'service</h1>
     <div class="visualisation">
         {% if service is defined %}
             <p>
                 <span class='label_fiche'>nom : </span> {{service.nom}}<br>
             </p>
         {% else %}
             <p>Impossible d'afficher la fiche de l'service</p>
         {% endif %}
     </div>
 
{% endblock %}