<!DOCTYPE html>
<html>
	<head>
		<title>{% block titre %}Bienvenue dans Symfony2 !{% endblock %}</title>
		{% stylesheets 'bundles/zeussite/css/*' filter='cssrewrite' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
	<header>
		<img src="{{url_logo}}" width="300" height="200" /><h1>{% block slogan %} Test Projet Zeus {% endblock %} </h1>
		
		<nav>
			<ul>
			{% for menu_item in tab_menu %}
	    		<li>{{ menu_item }}</li>
	    	{% endfor %}
    		</ul>
    	</nav>
	</header>
	
	<section id="main">
		{% block main %}
			<h2>Bienvenue blablabla....</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
			<a href="#" class="btn btn-success btn-large">Bootstrap Button</a>
		{% endblock %}
	</section>
	
	<footer>
		Footer du projet Zeus - TOUS DROITS RESERVER - COPYRIGHT
	</footer>
	</body>
</html>