{% extends "::base.html.twig" %}

{% block content %}
	{% include 'ZeusSiteBundle:Include:lien_retour_gestion.html.twig'
		with {'route': 'zeus_site_editeur_tableau', 'element' : 'éditeur'} only %}
        <h1 class="h1Parution">Modifier un Editeur</h1>
	{% include 'ZeusSiteBundle:Editeur:form_modif.html.twig' with {'form': form} %}
{% endblock %}